---
import Landing from '@layouts/Landing.astro';

import { Card, Placeholder, ButtonsGroup, Button } from '@components/mc';
import Spacer from '@components/Spacer.astro';
---

<Landing page_title='Маркет'>
	<Card title="Стартер-пак">
    sada
    <ButtonsGroup slot="footer">
			<Button stretched={true} component="a" href="" mode="green">Приобрести</Button>
		</ButtonsGroup>
	</Card>

	<Card title="Популярное">
    sada
    <ButtonsGroup slot="footer">
			<Button stretched={true} component="a" href="">Смореть все</Button>
		</ButtonsGroup>
	</Card>
</Landing>

<style>

</style>
