---
interface Props {
	title: string;
	sub: string;
	version: string;
	license: string;
	package_name: string;
	github: string;
}

const { title, sub, version, license, package_name, github } = Astro.props;
---

<section class="cover">
	<div class="content">
		<h1 class="content__title">{ title }</h1>
		<h2 class="content__sub">{ sub }</h2>
	</div>
	<div class="code">
		<div class="code__field">
			<svg viewBox="0 0 12.32 9.33" aria-hidden="true"><g><line class="st1" x1="7.6" y1="8.9" x2="7.6" y2="6.9"></line><rect width="1.9" height="1.9"></rect><rect x="1.9" y="1.9" width="1.9" height="1.9"></rect><rect x="3.7" y="3.7" width="1.9" height="1.9"></rect><rect x="1.9" y="5.6" width="1.9" height="1.9"></rect><rect y="7.5" width="1.9" height="1.9"></rect></g></svg>
			<code id="code">npm i {package_name} --save</code>
			<div id="copy" class="code__copy">Copy</div>
		</div>
	</div>
	<div class="meta">
		<div>
			Version { version }
		</div>
		<div>
			{ license } license
		</div>
		<div>
			<a target="_blank" href={`${github}`}>github</a>
		</div>
		<div>
			<a target="_blank" href={`https://www.npmjs.com/package/${package_name}`}>npm</a>
		</div>
	</div>
</section>

<script>
	const code = document.getElementById('code');
	const copy_button = document.getElementById('copy');
	copy_button.addEventListener('click', () => {
		navigator.clipboard.writeText(code.innerHTML);
	});
</script>

<style lang="scss">
.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12rem 0;
  min-height: 80dvh;

	.content {
		position: relative;
		min-height: 1px;
		padding-right: 2px;
		padding-left: 2px;
		width: 100%;
		user-select: none;

		&__title {
			color: var(--x-content__title--color, #212529);
			margin: 0;
			padding: 0;
			font-size: 6rem;
			font-weight: 600;
			line-height: 1.2
		}

		&__sub {
			color: var(--x-content__sub--color, #495057);
			margin: 1.1rem 0 0;
			padding: 0;
			font-size: 3rem;
			font-weight: 300;
			line-height: 1.5
		}
	}

	.code {
		display: flex;
		margin-top: 4rem;

		&__field {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 100%;
			border-radius: 8px;
			padding: 1rem 2rem 1rem 3.4rem;
			position: relative;
			border: 1px solid;
			border-color: var(--x-code__field--border-color, #dee2e6);

			svg {
				width: 0.9em;
				height: 0.9em;
				flex: none;
				margin-right: 3px;
				margin-left: 0px;
				margin-top: 6px;
				fill: currentColor;
				pointer-events: none;
				position: absolute;
				top: 11px;
				left: 18px;
			}

			code {
				font-family: Consolas, monaco, monospace;
			}
		}

		&__copy {
			color: #e64980;
			margin-left: 2rem;
			padding-left: 2rem;
			border-left: 1px solid;
			border-color: var(--x-code__field--border-color, #dee2e6);
			cursor: pointer;
			font-size: 1.3rem;
			line-height: 2;
			user-select: none;
			transition: color .1s ease-out;

			@media(hover: hover) {
				&:hover {
					color: #c2255c;
				}
			}
		}
	}

	.meta {
		margin-top: 4rem;
		padding: 0;
		color: #868e96;
		font-size: 1.2rem;
		font-weight: 400;
		line-height: 18px;
		user-select: none;
	}
}
</style>
