---
import LogoImage from '@assets/logo.png'
import { Image } from 'astro:assets';

interface Props {
  maxWidth?: number;
}

const { maxWidth = 350 } = Astro.props;
---

<div class="logo">
  <Image src={LogoImage} alt="" draggable="false" format="png"/>
</div>

<style lang="scss" define:vars={{ 'max-width': `${maxWidth}px` }}>
.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: var(--max-width);
    user-select: none;
    pointer-events: none;
  }
}
</style>