:root {
  --x-body--background: #fff;
  --x-background-image: url('./background/grass.jpg'), url('./background/girt.jpg');
  --x-body--color: #495057;

  --x-content__title--color: #212529;
  --x-content__sub--color: #495057;

  --x-code__field--border-color: #dee2e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --x-body--background: #111;
    --x-background-image: url('./background/grass.jpg'), url('./background/girt.jpg');
    --x-body--color: #adb5bd;

    --x-content__title--color: #f8f9fa;
    --x-content__sub--color: #adb5bd;

    --x-code__field--border-color: #212529;
  }
}

:root {
  --x-box-shadow: inset -2px -3px #0006, inset 2px 2px #fff7;
}

@font-face {
  font-family: Minecraft;
  src: local('Minecraft-ru'),
  local('Minecraft'),
  url('./fonts/Minecraft.woff2') format('woff2'),
  url('./fonts/Minecraft.woff') format('woff')
}

@font-face {
  font-family: 'Minecraft-ru';
  src: local('Minecraft-ru'),
  local('Minecraft'),
  url('./fonts/Minecraft.woff2') format('woff2'),
  url('./fonts/Minecraft.woff') format('woff')
}
