---
interface Props {
  withGap?: boolean
}

const { withGap = true } = Astro.props;

---

<div class:list={[
  'buttons-group',
  { 'buttons-group--with-gap': withGap }
]}>
  <slot />
</div>


<style lang="scss" is:global>
.buttons-group {
  display: flex;
  justify-content: center;
  align-items: center;

  &--with-gap {
    > :not(:first-child) {
      margin-left: .5rem;
    }
  }
}
</style>