---

---

<div class="card-row">
  <slot />
</div>

<script>

</script>

<style lang="scss">
.card-row {
	font-family: 'Minecraft';
  position: relative;
  background: #373737;
  color: #aaaaaa;
  text-shadow: 1px 1px 0 #2a2a2a;
  border: 2px solid;
  border-color: #000000 #8b8b8b #8b8b8b #000000;
  padding: 1rem;
  user-select: none;
  text-decoration: none;

  &::before,
  &::after {
    content: " ";
    position: absolute;
    background-color: #373737;
    height: 2px;
    width: 2px;
    pointer-events: none;
  }

  &::before { bottom: -2px; left: -2px; }
  &::after { top: -2px; right: -2px; }
}
</style>
