---
import '@south-paw/typeface-minecraft'
import '@assets/scss/main.scss';
import '@assets/scss/vars.scss';

interface Props {
	page_title?: string;
}

const { page_title } = Astro.props;

const title = 'Клюква'

const meta = {
	description: "Маленький и уютный ванильный сервер Майнкрафта с вайтлистом и платной проходкой (нет)"
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<title>{title} / {page_title}</title>
		<meta name="description" content={meta.description} />
		<meta name="generator" content={Astro.generator} />
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-NSQ8VJTT2M"></script>
		<script type="text/partytown">
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', 'G-NSQ8VJTT2M');
		</script>
	</head>
	<body>
		<div class="container">
			<slot />
		</div>
	</body>
</html>